---
layout: new/default
title: Weekly report #{{ page.week }}
---

<p>&larr; <a href="{{ "/blog/" | prepend: site.baseurl }}">View all weekly reports</a></p>

<h1><a href="{{ page.url }}">Reproducible Builds: Weekly report #{{ page.week }}</a></h1>

{% if page.published %}
<p class="text-muted">
  Published: {{ page.published | date: "%b %-d, %Y" }}.
</p>
{% else %}
<div class="col-12 alert alert-warning" role="alert">
  <strong>This is an unpublished draft post.</strong>
  <a href="https://salsa.debian.org/reproducible-builds/reproducible-website.git/tree/_blog/posts/{{ page.week }}.md">(source)</a>
</div>
{% endif %}

<hr>

<div class="blog-post-content">
  {{ content }}
</div>

<hr>

<p>&larr; <a href="{{ "/blog/" | prepend: site.baseurl }}">View all weekly reports</a></p>
